<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>rmichels</title>
    <!-- <link rel="stylesheet" type="text/css" href="/bootswatch/slate/bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/socket.io-client/socket.io.js"></script>

</head>
<body ng-app="app" class="landingBody">
	<div class="container landing flare-up">
		<div class="portal">
			<h1>RM</h1>
			<p><a href="/home" id="home">HOME</a> <a href="/profile" id="profile">RESUME</a></p>
		</div>
	</div>
	<div class="container landing2">
	</div>
	<div class="container landing3">
	</div>
	</body>
<script src="/script.js"></script>
</body>
</html>