<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>rmichels</title>
    <!-- <link rel="stylesheet" type="text/css" href="/bootswatch/slate/bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/socket.io-client/socket.io.js"></script>

</head>
<body ng-app="app" class="landingBody">
<div class="container landing">
	<h1>RM</h1>
	<p><a href="/home" class="">HOME</a></p>
</div>
</body>
<script src="/script.js"></script>
</body>
</html>